<h1 align="center">Personal</h1>
</br>
<div class = "container">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

	  <!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active" id = "scalable">
				<%= image_tag "personal_pics/The-Grizz-logo.jpg" %>
		  		<div class="carousel-caption">
		    		<p>In my spare time, its all about the music</p>
		  		</div>
			</div>

		    <div class="item" id = "scalable">
				<%= image_tag "personal_pics/guitarlamp.jpg" %>
				<div class="carousel-caption">
					<p>Grizzly Hollow: Sacramento, CA</p>
					<p>Is a Hardcore/Punk recording studio and art space</p>
				</div>
		    </div>

		    <div class="item" id = "scalable">
		      	<%= image_tag "personal_pics/zeroamp.jpg" %>
		      	<div class="carousel-caption">
			        <p>Zero the dog makes sure things run smoothly</p>
		      	</div>
		    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>