<% provide(:title, "Projects") %>
<h1 align="center">Projects</h1>
</br>
<div class = "container">
		<div class="row height-block" id="whole-table">
			<div class = "col-md-4" id="elevape-left">
				<p>elevape</p>
			</div>
			<div class = "col-md-8" id="elevape-right">
				<p>Lead Designer, Engineer and Webmaster for the Elevape website.</p>
				<%= link_to "Visit Elevape", "http://www.elevapevallejo.com", :class => "btn btn-primary", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="tripout-left">
				<p>TripOut</p>
			</div>
			<div class = "col-md-8" id="tripout-right">
				<p>Front-end Engineer, controller + backend adviser, and tester for TripOut travel advisery website. Release Q4 2013</p>
				<%= link_to "Visit TripOut", "http://sfsuswe.com/~f13g05/", :class => "btn btn-default", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="wob-left">
				<p>World of Balance 2.0</p>
			</div>
			<div class = "col-md-8" id="wob-right">
				<p>Backend Development and testing for the MMO's tutorial system. Release pending</p>
				<%= link_to "WoB site", "http://smurf.sfsu.edu/~wob/", :class => "btn btn-info", :target => "_blank"%>
			</div>	
		</div>
</div>