<% provide(:title, "Projects") %>
<h1 align="center">Projects</h1>
</br>
<div class = "container">
		<div class="row height-block" id="whole-table">
			<div class = "col-md-4" id="elevape-left">
				<p>elevape</p>
			</div>
			<div class = "col-md-8" id="elevape-right">
				<p>Lead Designer, Engineer and Webmaster for the Elevape website.</p>
				<%= link_to "Visit Elevape", "http://www.elevapevallejo.com", :class => "btn btn-primary", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="tripout-left">
				<p>Hard Reviews</p>
			</div>
			<div class = "col-md-8" id="tripout-right">
				<p>Lead Designer, Engineer and Webmaster for the Hard Reviews</p>
				<%= link_to "Hard Reviews", "https://infinite-garden-24678.herokuapp.com/", :class => "btn btn-default", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="wob-left">
				<p>The Challenge</p>
			</div>
			<div class = "col-md-8" id="wob-right">
				<p>Lead Designer, Engineer, Webmaster and Online Presence Manager for The Challenge band</p>
				<%= link_to "The Challenge", "http://www.thechallengeband.com", :class => "btn btn-info", :target => "_blank"%>
			</div>	
		</div>
</div>