<% provide(:title, "Projects") %>
<h1 align="center">Projects</h1>
</br>
<div class = "container">
		<div class="row height-block" id="whole-table">
			<div class = "col-md-4" id="elevape-left">
				<p>elevape</p>
			</div>
			<div class = "col-md-8" id="elevape-right">
				<p>Lead Designer, Engineer and Webmaster for the Elevape website. Sept 2014 - Present</p>
				<%= link_to "Visit Elevape", "http://www.elevapevallejo.com", :class => "btn btn-primary", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="tripout-left">
				<h3>The Challenge</h3>
			</div>
			<div class = "col-md-8" id="tripout-right">
				<p>Lead Designer, Engineer, Webmaster and Online Presence Manager for The Challenge band. July 2016 - Sept 2016</p>
				<%= link_to "The Challenge", "http://www.thechallengeband.com", :class => "btn btn-info", :target => "_blank"%>
			</div>	
		</div>
		<div class="row height-block" >
			<div class = "col-md-4" id="wob-left">
				<p>HXC Reviews</p>
			</div>
			<div class = "col-md-8" id="wob-right">
				<p>Full stack developer for the HXC Reviews Project. Nov 2016 - present </p>
				<%= link_to "HXC Reviews", "https://limitless-brushlands-71598.herokuapp.com/", :class => "btn btn-default", :target => "_blank"%>
			</div>	
		</div>
</div>

