<% provide(:title, "Resume") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>My Resume</h2>
		<div id = "down-button">		
			<%= link_to "Download Resume PDF", download_resume_path, :class => 'btn btn-primary' %>
		</div>	
		<div id = "white-image">	
			<%= image_tag "resumeRobinPennock.jpg", :size => "900x1165" %>
		</div>
	</div>
</div>